body{
    background-color: rgb(236, 235, 235);
}
.container{
    text-align: center;
}
.attribution{
    text-align: center;
    font-size: 32px;
}
.pupple{
    color: hsl(256, 67%, 59%);
}
.tenX{
    color:hsl(39, 100%, 71%) ;
}
/* Media Query For Desktop Screen */
@media(min-width: 1440px){
    .container{
        margin: 50px auto;
        display: flex;
        justify-content: space-evenly;
    }
    .left-top{
        height: 500px;
        border-radius: 15px;
        background-color: hsl(31, 66%, 93%);
    }
    .left-top h2{
        margin:  0 auto;
        text-align: left;
        padding-bottom: 50px;
        padding-top: 50px;
        width: 200px;
        font-size: 42px;
        font-weight: bold;
    }
    .create-post{
        width: 250px;
        margin-bottom: 50px;
    }
    .left-bottom{
        border-radius: 15px;
        background-color: hsl(39, 100%, 71%);
    }
    .left-bottom h2{
        margin: 50px auto 0 auto;
        text-align: left;
        padding-bottom: 40px;
        padding-top: 40px;
        width: 200px;
        font-size: 42px;
        font-weight: bold;
    }
    .ai-content{
        width: 250px;
        padding-bottom: 30px;
    }
    .left-bottom{
        width: 350px;
        margin: 0 30px 0 0;
         height: 45%; 
    }
    .left-top{
        width: 350px;
        margin: 35px 30px 0 0;
         height: 48%; 
    }
    /* top-letf-top */
    .top-letf-top{
        padding: 20px;
        border-radius: 15px;
        background-color: hsl(256, 67%, 59%);
        margin-bottom: 30px;
    }
    .top-letf-top h1{
        width: 450px;
        font-size: 60px;
        font-weight: bold;
        color: white;
        margin: 50px auto;
    }
    .stars{
        width: 300px;
        padding: 0;
    }
    .top-letf-top p{
        color: white;
        font-size: 24px;
        padding: 0;
    }
    /* top-let-bottom-left */
    .top-let-bottom-left{
        border-radius: 15px;
        background-color: hsl(0, 0%, 100%);
        width: 330px;
    }
    .media{
        width: 280px;
        padding: 20px 20px 0 20px;
    }
    .top-let-bottom-left h2{
        font-weight: bold;
        font-size: 42px;
        width: 250px;
        text-align: left;
        padding: 20px;
    }
    /* top-left-bottom-right */
    .top-left-bottom-right{
        width: 300px;
        padding: 0 20px;
        border-radius: 15px;
        background-color: hsl(39, 100%, 71%);
    }
    .top-left-bottom-right h2{
        margin: 10px;
        font-weight: bold;
        font-size: 42px;
        width: 250px;
        text-align: left;
    }
    .calader{
        width: 280px;
        height: 150px;
        margin-bottom: 0;
    }
    .right-top-left-bottom{
        display: flex;
        gap: 30px;
    }
    .right-top-container{
        display: flex;
        gap: 30px;
        margin-top: 50px;
    }
    .right-top-right{
        width: 300px;
        border-radius: 15px;
        background-color: hsl(254, 88%, 90%);
    }
    .right-top-right h2{
        width: 250px;
        font-weight: bold;
        font-size: 42px;
        margin: 100px 10px;
    }
    .schedule{
        margin-left: 45px;
        width: 250px;
        height: 350px;
    }
    .right-top-right p{
        font-size: 24px;
        text-align: left;
        padding: 20px 20px 0 40px;
    }
    /* right-bottom-container */
    .right-bottom-container{
        display: flex;
        gap: 30px;
        margin-top: 30px;
    }
    .bottom-left{
        width: 290px;
        border-radius: 15px;
        padding: 20px;
        background-color: hsl(0, 0%, 100%);
    }
    .bottom-left h1{
        margin: 0;
        padding-left: 40px;
        font-weight: bold;
        font-size: 60px;
        text-align: left;
    }
    .bottom-left p{
        font-size: 25px;
        opacity: 80%;
    }
    .followers{
        width: 200px;
    }
    .bottom-right{
        display: flex;
        padding: 20px;
        border-radius: 15px;
        background-color: hsl(256, 67%, 59%);
    }
    .grow{
        width: 300px;
    }
    .bottom-right h2{
        width: 300px;
        font-size: 42px;
        font-weight: bold;
        padding: 15px;
        color: hsl(0, 0%, 100%);
    }
}


/* Media Query For Mobile Screen */
@media(min-width: 375px) and (max-width: 1439px){
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    /* left-container */
    .left-top{
        width: 550px;
        background-color: hsl(31, 66%, 93%);
        border-radius: 15px;
        padding: 20px;
        margin: 0 auto;
    }
    .left-top h2{
        padding: 30px 30px 20px 30px;
        text-align: left;
        font-weight: bold;
        font-size: 42px;
        width: 400px;
    }
    .create-post{
        width: 300px;
        margin-right: 200px;
    }
    .left-bottom{
        background-color: hsl(39, 100%, 71%);
        border-radius: 15px;
        padding: 20px;
        margin: 30px auto;
        width: 550px;
        height: 650px;
    }
    .left-bottom h2{
        padding: 30px 30px 20px 30px;
        text-align: left;
        font-weight: bold;
        font-size: 42px;
        width: 400px;
    }
    .ai-content{
        width: 400px;
        margin-right: 100px;
    }
    /* Right Container  */
    .top-letf-top{
        background-color: hsl(256, 67%, 59%);
        border-radius: 15px;
        padding: 20px;
        margin: 30px auto;
        width: 550px;
        height: 450px;
    }
    .top-letf-top h1{
        text-align: center;
        width: 350px;
        font-size: 60px;
        font-weight: bold;
        color: white;
        margin: 50px auto;
    }
    .stars{
        width: 250px;
    }
    .top-letf-top p{
        font-size: 32px;
        color: white;
    }
    .top-let-bottom-left{
        padding: 20px;
        margin: 30px auto;
        width: 550px;
        border-radius: 15px;
        background-color: hsl(0, 0%, 100%);
    }
    .media{
        width: 500px;
    }
    .top-let-bottom-left h2, 
    .top-left-bottom-right h2,
    .right-top-right h2{
        width: 450px;
        font-weight: bold;
        font-size: 42px;
        padding-left: 20px;
        text-align: left;
    }
    .top-left-bottom-right{
        padding: 20px;
        margin: 30px auto;
        width: 550px;
        height: 460px;
        border-radius: 15px;
        background-color: hsl(39, 100%, 71%);
    }
    .calader{
    margin-right: 100px;
    }
    .right-top-right{
        padding: 20px;
        margin: 30px auto 5px auto;
        width: 550px;
        border-radius: 15px;
        background-color: hsl(254, 88%, 90%);
    }
    .schedule{
        width: 400px;
        margin-right: 150px;
        padding-bottom: 20px;
    }
    .right-top-right p{
        width: 580px;
        font-size: 38px;
        text-align: center;
        margin: 0 auto;
        padding: 20px 20px 20px 0; 
    }
    /* right-bottom-container */

    .right-bottom-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .bottom-left{
        padding: 50px;
        margin: 0 auto 30px auto;
        width: 500px;
        border-radius: 15px;
        background-color: hsl(0, 0%, 100%);
    }
    .bottom-left h1{
        margin: 0;
        font-weight: bold;
        font-size: 60px;
        text-align: left;
    }
    .bottom-left p{
        text-align: left;
        font-size: 35px;
        opacity: 80%;
    }
    .followers{
        margin-right: 250px;
        width: 300px;
    }
    .bottom-right{
        padding: 50px;
        margin: 30px auto;
        width: 500px;
        border-radius: 15px;
        background-color: hsl(256, 67%, 59%);
    }
    .grow{
        padding-bottom: 50px;
    }
    .bottom-right h2{
        width: 400px;
        font-weight: bold;
        font-size: 50px;
        padding-left: 20px;
        text-align: center;
        color: hsl(0, 0%, 100%);
        margin: 0  auto;
    }
}